/* reseting some part of bootstrap */
.bg-danger {
  background-color: #f72210 !important;
}

.bg-warning {
  background-color: rgb(255, 228, 0) !important;
}

.bg-transparent-2 {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-secondary-3 {
  background-color: rgb(244, 245, 246);
}

.text-danger {
  color: rgb(247, 34, 16) !important;
}

.h7 {
  font-size: 0.9rem;
}

.h8 {
  font-size: 0.7rem;
}

.h9 {
  font-size: 0.6rem;
}

.w-30 {
  width: 30% !important;
}

/* *------------------------------------------------- */

/* ?--------------------- Header */
.header-L {
  left: 15px;
}

.header-R {
  right: 15px;
}

.header-logo {
  width: 9rem;
  line-height: 16px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 78px solid #f72210;
  border-top: 13px solid #f72210;
  top: 0;
  right: 0;
}

/* ?-------------------- Columns */

.red-pic h6 {
  bottom: 0;
}

.debate-borders-1 {
  border-top: 4px solid rgb(217, 217, 217);
  border-bottom: 1px solid rgb(217, 217, 217);
}

.debate-borders-2 {
  margin-top: 1px;
  border-top: 1px solid rgb(217, 217, 217);
  border-bottom: 4px solid rgb(217, 217, 217);
}

.vs {
  top: 87.5px;
}

.culture-pic {
  background-color: rgb(194, 212, 215);
  bottom: 0;
}

/* ?-------------------- newspaper */
.magazine-first-pic {
  left: 0;
  bottom: 0;
}

/* ?-------------------- newsletter */
.SL-content-pics {
  width: 260px;
  height: 260px;
}

.top-left-pic {
  top: 0;
  left: 0;
}

.bottom-right-pic {
  z-index: 2;
  bottom: 0;
  right: 0;
}

.letter-content-pic {
  background-image: url(img/newspaper/last-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 170px;
}

/* ?-------------------- footer */
.footer-logo {
  width: 15rem;
}

/* *------------------------------------------------- */

@media only screen and (min-width: 768px) {
  .footer-row-2 li a {
    border-right: 1px solid rgb(222, 226, 230);
  }

  .mag-1,
  .mag-5,
  .mag-6,
  .mag-7,
  .mag-8 {
    width: 25%;
  }

  .mags-2 {
    width: 75%;
  }

  .mags-3 {
    width: 100%;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .edi-1,
  .edi-2,
  .edi-3,
  .edi-4,
  .edi-5,
  .edi-6,
  .edi-7,
  .edi-8 {
    width: 50%;
  }

  .letter-content-pic {
    width: 50% !important;
  }

  .letter-content-caption {
    width: 50% !important;
  }
}

@media only screen and (min-width: 992px) {
  .w-lg-30 {
    width: 30% !important;
  }

  .w-lg-70 {
    width: 70% !important;
  }

  .header-logo {
    width: 25rem;
  }

  .four-blue-R {
    width: 100% !important;
  }

  .edi-1,
  .edi-2,
  .edi-3,
  .edi-4,
  .edi-5,
  .edi-6,
  .edi-7,
  .edi-8 {
    width: 25%;
  }

  .subscribe-letter {
    width: 55%;
  }

  .letter {
    width: 45%;
  }

  .letter-content {
    height: 100%;
  }

  .letter-content-pic {
    height: 100%;
  }

  .search-btn-half {
    width: 100% !important;
  }
}
