/* reseting some part of bootstrap */
.bg-danger {
	background-color: #f72210 !important;
}

.bg-warning {
	background-color: rgb(255, 228, 0) !important;
}

.bg-transparent-2 {
	background-color: rgba(255, 255, 255, 0.9);
}

.text-danger {
	color: rgb(247, 34, 16) !important;
}

.h7 {
	font-size: 0.9rem;
}

.h8 {
	font-size: 0.7rem;
}

.h9 {
	font-size: 0.6rem;
}

.w-30 {
	width: 30% !important;
}

/* *------------------------------------------------- */
body {
	background-color: green;
}
/* ?--------------------- Header */
.header-L {
	left: 15px;
}

.header-R {
	right: 15px;
}

.header-logo {
	width: 9rem;
	line-height: 16px;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 78px solid #f72210;
	border-top: 13px solid #f72210;
	top: 0;
	right: 0;
}

/* ?-------------------- Columns */

.red-pic h6 {
	bottom: 0;
}

.debate-borders-1 {
	border-top: 4px solid rgb(217, 217, 217);
	border-bottom: 1px solid rgb(217, 217, 217);
}

.debate-borders-2 {
	margin-top: 1px;
	border-top: 1px solid rgb(217, 217, 217);
	border-bottom: 4px solid rgb(217, 217, 217);
}

.vs {
	top: 87.5px;
}
.culture-pic {
	background-color: rgb(194, 212, 215);
	bottom: 0;
}

/* ?-------------------- footer */
.footer-logo {
	width: 15rem;
}

/* *------------------------------------------------- */

@media only screen and (min-width: 768px) {
	.footer-row-2 li a {
		border-right: 1px solid rgb(222, 226, 230);
	}
}

@media only screen and (min-width: 992px) {
	.header-logo {
		width: 25rem;
	}
}
