.bg-danger {
	background-color: #f72210 !important;
}
.bg-warning {
	background-color: rgb(255, 228, 0) !important;
}
body {
	background-color: green;
}
header {
	border: 2px solid magenta;
}
nav {
	border: 2px solid blue;
}
/* .header-R button {
	font-size: 0.6rem;
} */
.header-logo {
	width: 9rem;
}

/* i used SM and LG size in project */
@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 992px) {
	.header-logo {
		width: 25rem;
	}
}
